@import '../../../../styles/styles.scss';

.container {
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: transform 500ms;
  width: 100%;

  @include on-tablet {
    flex-direction: row;
  }

  @include max-width;
}

.img {
  display: block;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
  width: 100%;
  max-height: 350px;
  align-self: center;

  @include on-tablet {
    flex-basis: 311px;
    height: 296px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  @include on-desktop {
    flex-basis: 501px;
    height: 501px;
  }

  &__default {
    object-fit: contain;
    object-position: center;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;

  @include on-desktop {
    width: 510px;
    flex-shrink: 0;
  }
}

.tag {
  color: $blue;
  text-transform: uppercase;
  font-weight: 700;
  height: 37px;
  line-height: 37px;
  width: 77px;
  text-align: center;

  border: 1px solid $blue;
  border-radius: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.heading {
  max-width: 200px;
  flex-shrink: 1;

  @include on-tablet {
    max-width: 100%;
    font-size: 32px;
  }
}

.date {
  font-size: 14px;
  color: $grey;
  flex-shrink: 0;
}

.mainText {
  font-size: 14px;
  line-height: 1.5em;

  @include on-tablet {
    font-size: 16px;
  }
}
