@import '../../../../styles/styles.scss';

.container {
  @include padding-inline;
  padding-bottom: 35px;

  @include on-tablet {
    padding-bottom: 38px;
  }

  @include on-desktop {
    padding-bottom: 150px;
    padding-inline: 162px;
    box-sizing: border-box;
  }
}

.article {
  padding: 16px;
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;

  @include on-tablet {
    gap: 32px;
    flex-direction: row;
    align-items: center;
  }

  @include on-desktop {
    padding: 24px;
    align-items: start;
  }

  &:nth-of-type(2) {
    @include on-tablet {
      flex-direction: row-reverse;
    }
  }

  &:last-child {
    margin-bottom: 35px;
  }

  &__header {
    padding-bottom: 16px;
    text-align: center;

    @include on-tablet {
      text-align: left;
    }

    @include on-desktop {
      padding-bottom: 32px;
    }
  }

  &__img {
    padding-bottom: 32px;

    @include on-tablet {
      padding-bottom: 0;
      height: 311px;
    }

    @include on-desktop {
      height: 501px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 21px;

    @include on-desktop {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
