@import '../../styles/styles.scss';

.container {
  min-height: calc(100vh - $header-height);
  padding-block: 140px 60px;
  display: flex;
  flex-direction: column;
  gap: 40px;

  align-items: center;
  background-color: $white;
  box-sizing: border-box;
  color: $grey--secondary;
  position: absolute;
  inset: 0;
  z-index: 1;
}

.button {
  display: block;
  height: 48px;
  line-height: 48px;
  text-align: center;
  width: 160px;
  border: 1px solid $yellow;
  text-decoration: none;
  border-radius: 24px;
  color: $yellow;
}

.icon {
  padding: 10px;
  margin-right: 19px;

  @include on-tablet {
    display: none;
  }
}

.nav {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__item {
    list-style: none;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
  }

  &__link {
    text-decoration: none;
  }
}
