@import '../../styles/styles.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  text-align: center;
  padding-block: 20px;
}
.text {
  font-size: 20px;
  font-weight: 500;
}

.icons {
  display: flex;
  gap: 24px;
  background-color: $blue;
  padding: 24px;
  border-radius: 24px;
}

.img {
  height: 90px;
  width: 300px;
  background-image: url('../../imgs/error/oops.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}
