@import '../../styles/styles.scss';

.topBar {
  height: $header-height;
  padding-block: 34px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $blue;
  @include padding-inline;
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  &__menu {
    background-color: $white;
  }

  &__button {
    display: block;
    height: 48px;
    line-height: 48px;
    text-align: center;
    width: 160px;
    border: 1px solid $yellow;
    text-decoration: none;
    border-radius: 24px;
    color: $yellow;
    font-weight: 700;

    &__menu {
      color: $blue;
      border-color: $blue;
    }
  }

  &__icon {
    padding: 10px;
    margin-right: 19px;

    @include on-tablet {
      display: none;
    }
  }
}

.nav {
  display: none;

  @include on-tablet {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 42px;
  }

  @include on-desktop {
    gap: 36px;
  }

  &__item {
    list-style: none;
    color: $white;
  }

  &__link {
    text-decoration: none;
  }
}

.icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  position: relative;
  background-color: inherit;
  padding-inline: 16px;
  transition: transform 8s;

  @include on-desktop {
    padding-inline: 24px;
  }
}

.hamburger {
  position: relative;
  cursor: pointer;
  height: 10px;
  width: 14px;

  &__selected {
    height: 16px;
    width: 16px;
  }

  &:target .menu {
    transform: translateX(100%);
  }
}

.bar {
  position: absolute;
  display: block;
  height: 1.5px;
  width: 16px;
  background-color: #eee;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;

  &__0 {
    top: 0;
    &__selected {
      transform: rotate(45deg);
      transform-origin: top left;
      width: 21px;
      background-color: #000;
    }
  }

  &__1 {
    top: 40%;

    &__selected {
      transform: translateX(-100%);
      background-color: transparent;
    }
  }

  &__2 {
    top: 40%;

    &__selected {
      transform: translateX(100%);
      background-color: transparent;
    }
  }

  &__3 {
    bottom: 0;
    &__selected {
      transform: rotate(-45deg);
      transform-origin: bottom left;
      background-color: #000;
      width: 21px;
    }
  }
}
