@import '../../../../styles/styles.scss';

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 47px;

  &__search {
    width: 659px;
    position: relative;

    &__icon {
      position: absolute;
      z-index: 2;
      top: 30%;
      left: 16px;
    }

    & :last-child {
      padding-left: 50px;
    }
  }
}
.searchButton {
  height: 60px;
  width: 204px;
  border-radius: 24px;
}

.button {
  display: flex;
  justify-content: center;
  width: 90px;
  gap: 10px;
  background-color: $white-bg;
  padding: 16px 10px;
  border-radius: 10px;
}
