@import '../../../../styles/styles.scss';

.container {
  background-size: cover;
  background-position: center;
  color: $white;
  position: relative;
  z-index: -1;
  background-color: $black;

  &__bgImg {
    background-image: url('../../../../imgs/achievements-bg.jpg');
  }

  &__bg {
    background-color: rgba(7, 17, 28, 0.7);
    width: 100%;

    @include padding-inline;
    padding-block: 56px;

    & > h2 {
      padding-bottom: 32px;
      text-align: center;
    }

    @include on-desktop {
      padding-inline: 48px;
      padding-block: 88px;
    }
  }
}

.items {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;
  @include max-width;

  @include on-tablet {
    display: grid;
    grid-template-columns: repeat(2, 335px);
    grid-template-rows: repeat(2, 1fr);
  }

  @include on-desktop {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}

.item {
  height: 176px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid $white;
  padding: 24px 24px 30px;
  width: 100%;
  border-radius: 24px;
  position: relative;

  @include on-tablet {
    min-width: 335px;

    &__last {
      grid-column: 1 / -1;
    }
  }

  @include on-desktop {
    max-width: 432px;
    align-items: stretch;

    &__last {
      grid-column: auto;
      
    }
  }

  & > h2 {
    padding-bottom: 18px;
  }

  &__icon {
    position: absolute;
    top: 24px;
    right: 24px;
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
  }
}
