@import '../../../../styles/styles.scss';

.container {
  background-image:    url('../../../../imgs/achievements-bg.jpg') ;
  background-size: cover;
  background-position: center;
  color: $white;
  position: relative;
  z-index: -1;

  &__bg {
    background-color: rgba(7, 17, 28, 0.7);
    width: 100%;

    @include padding-inline;
    padding-block: 88px;

    & > h2 {
      padding-bottom: 32px;
      text-align: center;
    }

    @include on-desktop {
      padding-inline: 48px;
    }

  }
}

.items {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-items: center;

  @include on-tablet {
    grid-template-columns: repeat(2, 395px);
    grid-template-rows: repeat(2, 1fr);
  }
}

.item {
  height: 176px;
  padding: 24px;
  box-sizing: border-box;
  border: 1px solid $white;
  padding: 24px 24px 30px;
  width: 100%;
  border-radius: 24px;

  @include on-tablet {
    width: 335px;
  }

  @include on-desktop {
    width: 318px;
  }

  & > h2 {
    padding-bottom: 18px;
  }

  &__text {
    font-size: 20px;
    line-height: 26px;
  }
}