@import '../../../../styles/styles.scss';

.backgroundContainer.loaded {
  background-image: url('../../../../imgs/header-bg-tablet.png');

  @include on-desktop {
    background-image: url('../../../../imgs/header-bg-desktop.png');
  }
}

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  transition: background-image 0.5s ease-in-out;

  @include gap-btw-blocks;

  &__main {
    width: 100%;
    padding-block: 56px;

    @include max-width;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    color: $white;
    text-align: center;
    @include padding-inline;

    @include on-tablet {
      min-height: calc(100vh - $header-height);
      padding-top: 40px;
      padding-bottom: 82px;
      padding-inline: 85px;
    }

    @include on-desktop {
      padding-bottom: 70px;
    }

    & > p {
      max-width: 432px;
    }
  }

  &__title {
    padding-bottom: 2px;
    max-width: 305px;
    font-weight: 500;

    @include on-tablet {
      max-width: 885px;
    }
  }

  &__button {
    height: 48px;
    line-height: 48px;
    width: 100%;
    max-width: 340px;
    color: $black;
    font-size: 15px;
    font-weight: 700;

    margin-top: 16px;
    text-decoration: none;

    @include on-tablet {
      height: 60px;
      line-height: 60px;
      width: 204px;
    }
  }

  &__text {
    @include on-desktop {
      font-size: 16px;
    }
  }
}
