.container {
  padding-block: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password {
  position: relative;

  &__icon {
    position: absolute;
    right: 2%;
    top: 50%;
    cursor: pointer;
  }
}
