@import '../../../styles/styles.scss';

.container {
  position: absolute;
  opacity: 0;
  width: 1px;
  background-color: $white;
  z-index: -1;
  right: 0;
  top: 0;
  transition: all 500ms;
  padding: 24px;
  height: 80vh;

  &__show {
    z-index: 1;
    opacity: 1;
    width: 659px;
    transition: all 500ms;
    height: auto;
  }
}

.form {
  width: 100%;
  box-sizing: border-box;
}

.types {
  display: flex;
  gap: 10px;
  max-width: 40px;
  padding: 0;
  margin: 0;
}

.type {
  cursor: pointer;
  display: inline-block;
  color: $blue;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding-inline: 16px;
  border: 1px solid $blue;
  border-radius: 24px;
  position: relative;
  margin: 20%;
  transition: all 500ms;

  &:hover {
    transform: scale(1.2);
  }

  &__selected {
    background: $blue;
    color: $white;
  }
}

.label {
  font-weight: 700;
  font-size: 16px;
}

.backButton {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100px;
  cursor: pointer;
  margin-bottom: 24px;
  &__icon {
    background-color: $black;
    height: 14px;
    width: 6px;
    transform: rotate(180deg);
  }
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
