@import './vars-colors';

.button {
  &--withArrow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    text-decoration: none;
    color: $blue;
    font-weight: 700;
    font-size: 15px;
    width: 121px;
    transition: width 1s;


    &-icon {
      width: 5px;
      height: 10px;
      padding-left: 7px;
    }

    &:hover {
      width: 127px;
    }

    &:active {
      border: 1px solid $blue;
      border-radius: 24px;
      width: 147px;
    }
  }

  &--secondary {
    height: 46px;
    width: 100%;

    @include on-tablet {
      width: 160px;
    }

    @include on-desktop {
      height: 60px;
      width: 204px;
    }
  }

  &--yellow {
    background-color: $yellow;
    transition: all 2s;
  
  &:hover  {
    background-color: $yellow--dark;
  }

  &:active {
    background-color: $white;
    border: 1px solid $yellow;
  }

  &:disabled {
    background-color: $grey;
    color: $white;
  }
  }

  &--transparent {
    height: 48px;
    line-height: 48px;
    border: 1px solid $yellow;
    background-color: $white;
    border-radius: 24px;
    text-decoration: none;
    font-weight: 600;
    color: $black;
    margin-top: 24px;
  
    @include on-tablet {
      margin-top: 32px;
      width: 204px;
    }
    transition: all 2s;
    
    &:hover {
      background-color: $yellow--dark;
    }
    &:active {
      background-color: $yellow;
     
    }

    &:disabled {
      border: 1px solid $grey;
      color: $grey;
    }

  }
}