.link {
  position: relative;
  color: $white;
  text-decoration: none;

  &::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;

    transform: scale(0);
    transition: all 500ms;
    bottom: -5px;
    left: 0;
  }

  &:hover {
    color: $yellow;
  }

  &:hover::after {
    transform: scale(1);
    transform-origin: left;
  }

  &:active {
    font-weight: 700;
    color: $yellow--dark;
    &::after {
      transform: scale(0);
    }
  }

  &--menu {
    color: $grey--secondary;

    &--active {
      color: $blue;
      &::after {
        transform: scale(1);
        background-color: $blue;
      }
    }
  }

  &--active {
    color: $yellow;
    &::after {
      transform: scale(1);
      background-color: $yellow;
    }
  }
}

.copyLink {
  cursor: pointer;
  position: relative;

  &::after {
    content: 'Click to copy.';
    position: absolute;
    top: -5px;
    left: -60px;
    padding: 5px;
    text-align: center;
    height: 25px;
    width: 100px;
    background-color: rgba(108, 122, 137, 0.5);
    border-radius: 12px;
    transform: scale(0);
    transition:
      transform 500ms,
      top 500ms,
      left 500ms;
  }

  &:hover {
    &::after {
      transform: scale(1) translate(0);
      top: 15px;
      left: 0;
    }
  }

  &--coppied {
    &::after {
      content: 'Copied.';
    }
  }

  &--left {
    &:hover {
      &::after {
        left: -80px;
        top: 25px;
      }
    }
  }
}
