.heading {
  &--h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 36px;
    line-height: 1.2em;
    font-weight: 600;

    @include on-desktop {
      font-size: 48px;
    }
  }

  &--h2 {
    font-size: 32px;
    line-height: 1.2em;
    font-weight: 600;

    @include on-desktop {
      font-size: 40px;
    }
  }

  &--h3 {
    font-size: 24px;
    font-weight: 600;
  }
}

.text {
  &--button {
    font-size: 15px;
    font-weight: 700;
    text-align: center;
  }
}
