$blue: #0057b8;
$blue--dark: #00499a;
$yellow: #ffd600;
$yellow--dark: #e8c300;
$black: #0c141e;
$text-color: #5f6268;
$grey: #a6aeb7;
$grey--text: #acacac;
$grey--secondary: #747982;
$white: #f8f8f8;
$white-bg: #f0f1f1;
