@import '../../styles/styles.scss';

.container {
  padding-inline: 18px;
  padding-block: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  @include gap-btw-blocks;
  @include max-width;

  @include on-tablet {
    padding-inline: 69px;
  }

  @include on-desktop {
    padding-inline: 48px;
  }

  @include max-width;
}

.latestArticle {
  @include on-tablet {
    margin-bottom: 32px;
  }

  @include on-desktop {
    align-self: flex-start;
  }
}

.heading {
  font-weight: 700;
  padding: 10px;
  padding-bottom: 24px;
  text-align: left;
  align-self: start;
}
