@import '../../styles/styles';

.wrapper {
  background-image: url(../../imgs/donate/donate-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: $black;

  @include on-tablet {
    background-image: url(../../imgs/donate/donate-bg-tablet.png);
  }

  @include on-desktop {
    background-image: url(../../imgs/donate/donate-bg-desktop.png);
  }

  @include gap-btw-blocks;
}

.container {
  @include max-width;
  padding-block: 48px;
  padding-inline: 40px;
  color: $white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include on-tablet {
    padding-block: 70px;
    padding-inline: 120px;
  }

  @include on-desktop {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
  }

  &__page {
    padding-top: 74px;
    padding-bottom: 88px;
    padding-inline: 18px;

    @include on-tablet {
      padding: 96px 88px 145px;
    }

    @include on-desktop {
      padding-top: 120px;
      padding-bottom: 76px;
      padding-inline: 390px;

      display: flex;
      flex-direction: column;
      gap: 40px;
    }
  }
}

.img {
  height: 450px;
  width: 230px;
  flex-grow: 0;
  flex-shrink: 0;
  padding-block: 25px;
  object-position: center;

  @include on-desktop {
    height: 546px;
    width: 280px;
  }
}

.breadcrumbs {
  position: absolute;
  top: 16px;
  left: 18px;
  z-index: 2;
  align-self: flex-start;

  @include on-tablet {
    top: 36px;
    left: 69px;
  }

  @include on-desktop {
    top: 38px;
    left: 48px;
  }
}
