.container {
  display: flex;
  min-height: 80vh;
  padding-top: 20vh;
}

.form {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 48px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  flex-grow: 0;
  height: 60px;
}
