.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.button {
  flex-grow: 0;
  height: 60px;
}
