@import '../../../../../styles/styles.scss';

td {
  padding: 16px 12px;
}

.table {
  border-collapse: collapse;
}

.item {
  color: $grey--secondary;
  font-size: 16px;

  border-bottom: 1px solid $grey;
  &__selected {
    transition: all 1.5s;
    background-color: $grey;
    color: black;
  }

  &__title {
    width: 200px;
  }

  &__date {
    width: 90px;
  }

  &__img {
    width: 90px;
    height: 42px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__text {
    width: 250px;
    overflow: hidden;
  }
}
