@import '../../../../styles/styles.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 18px;
  @include gap-btw-blocks;

  @include on-tablet {
    padding-inline: 70px;
  }

  @include on-desktop {
    padding-inline: 48px;
  }
}

.header {
  @include on-tablet {
    font-size: 40px;
  }
}

.team {
  display: grid;
  row-gap: 24px;
  padding-top: 32px;

  @include on-tablet {
    grid-template-columns: repeat(2, 336px);

    column-gap: 24px;
    row-gap: 32px;
  }

  @include on-desktop {
    grid-template-columns: repeat(3, 432px);
    max-width: 1344px;
  }

  &__rest {
    max-height: 1px;
    overflow: hidden;
    transition: max-height 1500ms;

    &__open {
      overflow: inherit;
    }
  }
}

.article {
  position: relative;
  cursor: pointer;
  width: 336px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include on-tablet {
    height: 363px;
  }

  @include on-desktop {
    height: 479px;
    width: 432px;
  }

  &:hover {
    z-index: 3;

    .article__quote {
      height: var(--hover-height);
      opacity: 1;
      overflow: inherit;
      padding-top: 8px;
      padding-bottom: 32px;
    }

    .article__container {
      background-color: $white;
      border-radius: 24px;
      height: auto;
    }
  }

  &__name {
    font-size: 24px;
    margin-top: 32px;
  }

  &__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;

    @include on-tablet {
      position: absolute;
    }
  }

  &__img {
    height: 236px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    object-fit: cover;
    object-position: top;

    @include on-desktop {
      height: 336px;
      width: 416px;
    }

    &__default {
      max-height: 160px;
      max-width: 160px;
      border-radius: 0;
      object-fit: contain;
      object-position: center;
    }
  }

  &__quote {
    display: flex;
    align-items: center;
    height: 1px;
    opacity: 0;
    font-size: 16px;
    line-height: 24px;
    color: $grey--secondary;
    transition: all 500ms;
  }

  &__text {
    font-weight: 700;
    font-size: 16px;
    color: $grey--text;
    padding-top: 0.8em;
  }
}

.teamSection__button {
  height: 60px;
  margin-top: 32px;
}
