@import '../../styles/styles.scss';

.container {
  padding-block: 60px 69px;
  @include padding-inline;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 48px;
  
  @include gap-for-sticky-header;

  @include on-tablet {
    flex-direction: row;
  }

  @include on-desktop {
    text-align: left;

    & > * {
      flex-grow: 1;
    }
  }
}

.img {
  background-image: url('../../imgs/error/bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 319px;
  width: 319px;

  @include on-desktop {
    background-image: url('../../imgs/error/bg-desktop.png');
    height: 605px;
    width: 605px;
  }
}

.text {
  color: $grey--secondary;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  padding-top: 16px;
}

.button {
  margin-top: 48px;
  text-decoration: none;
  text-align: center;

  @include on-desktop {
    margin-left: 0;
  }

  &__icon {
    @include on-tablet {
      height: 32px;
      width: 32px;
    }
  }
}
