@import '../../../../styles/styles.scss';

.table {
  width: 100%;
}

.item {
  color: $grey--secondary;
  font-size: 16px;

  &__title {
    width: 205px;
  }

  &__img {
    width: 90px;
    height: 42px;
  }

  &__text {

  }
}
