@import '../../styles/styles.scss';

.container {
  background-color: $blue;
  padding-block: 32px;
  color: $white;
  font-size: 20px;
  line-height: 1.3em;

  display: flex;
  flex-direction: column;
  gap: 32px;

  @include padding-inline;

  @include on-desktop {
    @include page-grid;

    & :first-child {
      grid-column: 1 / 3;
    }
  }
}

.logo {
  width: 90px;
  height: 68px;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: 3 / span 4;

  &__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 24px;
  }

  @include on-desktop {
    padding-bottom: 0;
  }

  &__text {
    color: $white;
    text-decoration: none;
    display: flex;
    gap: 24px;

    &:hover > div {
      background-color: $yellow;
      transform: scale(1.2);
    }
  }
}

.icons {
  padding-top: 16px;
  & > p {
    padding-bottom: 32px;
  }
}

.bankDetails {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: 7 / -1;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include on-desktop {
    max-height: 185px;
  }
}

.block {
  width: 340px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0 24px 24px;
  border: 1px solid $white-bg;
  border-radius: 24px;
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &__mobilePay {
    width: 164px;
    height: 61px;
    background-image: url(../../imgs/icons/mobile-pay.png);
  }

  &__danskeBank {
    width: 186px;
    height: 28px;
    background-image: url(../../imgs/icons/danske-bank.png);
    flex-shrink: 0;
  }
}

.line {
  height: 1px;
  background-color: $white;
  grid-column: 1 / -1;
}

.copyright {
  grid-column: 1 / -1;
}

.button {
  height: 48px;
  color: $white;

  @include on-tablet {
    position: fixed;
    right: 24px;
    bottom: 24px;
    background: $blue;
  }
}
