@import '../../styles/styles.scss';

.footer {
  background-color: $blue;
}

.container {
  @include max-width;
  padding-block: 32px;
  color: $white;
  font-size: 20px;
  line-height: 1.3em;

  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-inline: 18px;

  @include on-tablet {
    padding-inline: 48px;
  }

  @include on-desktop {
    @include page-grid;
    grid-template-rows: 1fr 32px;
    row-gap: 60px;

    & :first-child {
      grid-column: 1 / 3;
    }
  }
}

.logo {
  width: 90px;
  height: 68px;
  object-position: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: 3 / span 4;

  &__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  @include on-desktop {
    padding-bottom: 0;
  }

  &__text {
    color: $white;
    text-decoration: none;
    display: flex;
    gap: 16px;

    &:hover > div {
      background-color: $yellow;
      transform: scale(1.2);
    }
  }
}

.icons {
  padding-top: 16px;
  & > p {
    padding-bottom: 32px;
  }
}

.bankDetails {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-column: 7 / -1;
  grid-row: 1 / 2;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
  }

  @include on-desktop {
    max-height: 185px;
  }
}

.block {
  min-width: 280px;
  max-width: 340px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid $white-bg;
  border-radius: 24px;

  @include on-tablet {
    width: 340px;
  }
}

.icon {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &__mobilePay {
    width: 164px;
    height: 61px;
    background-image: url(../../imgs/icons/mobile-pay.png);
  }

  &__danskeBank {
    width: 186px;
    height: 28px;
    background-image: url(../../imgs/icons/danske-bank.png);
    flex-shrink: 0;
  }
}

.line {
  height: 1px;
  background-color: $white;
  grid-column: 1 / -1;
}

.copyright {
  grid-column: 1 / -1;
  font-size: 16px;
}

.fixedButton {
  @include on-tablet {
    position: fixed;
    right: 24px;
    bottom: 24px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  }
}

.socialMedia {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-desktop {
    gap: 32px;
    flex-direction: row;
    grid-column: 3 / 7;
    grid-row: 2 / -1;
  }
}

.bottomBlock {
  display: flex;
  flex-direction: column;

  @include on-desktop {
    grid-column: 1 / -1;
    flex-direction: row;
  }
}

.registration {
  display: flex;
  gap: 16px;
  font-size: 24px;

  @include on-desktop {
    grid-column: 7 / -1;
    grid-row: 2 / -1;
  }
}
