@import '../../styles/styles.scss';

.container {
  height: 621px;
  padding: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  transition: transform 500ms;
  min-width: 320px;

  @media (min-width: 375px) {
    min-width: $news-card-width;
  }

  @include on-desktop {
    height: 700px;
    gap: 24px;
    min-width: $news-card-width-desktop;
  }
}

.img {
  height: 314px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;
  display: flex;
  align-items: center;

  @include on-desktop {
    height: 351px;
    width: 100%;
  }

  &__default {
    max-height: 160px;
    max-width: 160px;
    border-radius: 0;
    object-fit: contain;
    object-position: center;
    margin: auto;
  }
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.tag {
  align-self: start;
  display: inline-block;
  color: $blue;
  text-transform: uppercase;
  font-weight: 700;
  height: 37px;
  line-height: 37px;
  text-align: center;
  padding-inline: 16px;
  border: 1px solid $blue;
  border-radius: 24px;
}

.bottom {
  display: flex;
  justify-content: space-between;
}

.date {
  font-size: 14px;
  color: $text-color;
  text-align: right;
  text-wrap: nowrap;
  width: 95px;
  display: flex;
  align-items: center;
  gap: 8px;

  &__icon {
    padding: 10px;
    height: 44px;
    width: 44px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $white-bg;
  }
}

.mainText {
  font-size: 14px;
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  height: calc(1.5em * 4);

  @include on-desktop {
    font-size: 16px;
  }
}

.cardSkeleton {
  gap: 18px;

  &__row {
    @include on-tablet {
      flex-direction: row;
      min-width: 700px;

      & > * {
        flex-grow: 1;
      }
    }
  }

  &__tag {
    width: 150px;
    height: 37px;
    align-self: start;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 18px;
    flex-grow: 1;
    width: 100%;
  }

  &__header {
    height: 38px;
    width: 100%;
    display: flex;
    justify-content: space-between;

    & > * {
      height: 38px;
    }
  }

  // &__heading {
  //   flex-grow: 1;
  // }

  &__date {
    width: 90px;
  }

  &__text {
    width: 100%;
    height: 24px;
  }
}
