@import '../../styles/styles.scss';

.container {
  height: 696px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  transition: transform 2s;
  width: $news-card-width;

  @include on-desktop {
    width: $news-card-width-desktop;
  }
}

.img {
  height: 314px;
  object-fit: cover;
  object-position: center;
  border-radius: 24px;

  @include on-desktop {
    height: 346px;
    width: 100%;
  }
}

.info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}

.tag {
  align-self: start;
  display: inline-block;
  color: $blue;
  text-transform: uppercase;
  font-weight: 700;
  height: 37px;
  line-height: 37px;
  text-align: center;
  padding-inline: 16px;
  border: 1px solid $blue;
  border-radius: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 62px;
}

.heading {
  max-width: 200px;
}

.date {
  font-size: 14px;
  color: $grey;
}

.mainText {
  font-size: 14px;
  line-height: 1.5em;

  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
  max-height: calc(1.5em * 6);

  @include on-tablet {
    font-size: 16px;
  }
}
