@import '../../styles/styles.scss';

.container {
  padding-top: 48px;

  @include on-tablet {
    padding-top: 88px;
  }
  @include on-desktop {
    padding-top: 132px;
  }

  @include max-width;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 24px;
  @include padding-inline;
  margin-bottom: 136px;

  @include on-tablet {
    @include page-grid;
    grid-auto-flow: dense;
    margin-bottom: 120px;
  }

  @include on-desktop {
    margin-bottom: 182px;
  }
}

.img {
  object-fit: cover;
  align-self: center;
  border-radius: 24px;
  width: 100%;
  height: 314px;

  @include on-tablet {
    height: 335px;
    grid-column: 4 / -1;
  }

  @include on-desktop {
    height: 350px;
    max-width: 432px;
    grid-column: -6 / -2;
  }
}

.tag {
  color: $blue;
  text-transform: uppercase;
  font-weight: 700;
  height: 37px;
  line-height: 37px;
  width: 77px;
  text-align: center;

  border: 1px solid $blue;
  border-radius: 24px;

  @include on-tablet {
    grid-column: 1 / -1;
  }

  @include on-desktop {
    grid-column-start: 2;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    grid-column: 1 / -1;
    flex-direction: row;
    gap: 32px;
    justify-content: space-between;
  }

  @include on-desktop {
    grid-column: 2 / -2;
  }
}

.date {
  font-size: 16px;
  color: $text-color;
  text-align: right;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;

  &__icon {
    padding: 10px;
    height: 44px;
    width: 44px;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $white-bg;
  }
}

.mainText {
  display: block;
  line-height: 1.5em;

  @include on-tablet {
    grid-column: 1 / 4;
  }

  @include on-desktop {
    grid-column: 2 / 7;
    font-size: 16px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.share {
  background-color: $blue;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  color: $white;
  border-radius: 24px;
  max-width: 100%;
  height: 166px;
  box-sizing: border-box;

  @include on-tablet {
    grid-column: 4 / -1;
  }

  @include on-desktop {
    grid-column: -6 / -2;
  }

  &__button {
    width: 209px;
    height: 34px;
    line-height: 34px;
    font-weight: 700;
    background-color: $white;
    color: $blue;
    border: none;
    border-radius: 16px;
    cursor: pointer;
  }
}
