@import '../../styles/styles.scss';

.container {
  padding-top: 80px;
  @include gap-btw-blocks;

  @include on-tablet {
    padding-top: 88px;
  }
  @include on-desktop {
    padding-top: 132px;
  }

  @include max-width;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 40px;
  @include padding-inline;
  @include gap-btw-blocks;

  @include on-tablet {
    flex-direction: column;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include on-tablet {
      flex-direction: row;
      align-items: center;

      & > * {
        flex-grow: 1;
      }
    }
  }
}

.img {
  object-fit: contain;
  align-self: center;
  border-radius: 24px;
  max-width: 100%;

  @include on-desktop {
    width: 501px;
    height: auto;
  }
}

.tag {
  color: $blue;
  text-transform: uppercase;
  font-weight: 700;
  height: 37px;
  line-height: 37px;
  width: 77px;
  text-align: center;

  border: 1px solid $blue;
  border-radius: 24px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.heading {
  max-width: 200px;

  @include on-tablet {
    max-width: 100%;
  }
}

.date {
  font-size: 14px;
  color: $grey;
}

.mainText {
  font-size: 14px;
  line-height: 1.5em;

  @include on-tablet {
    font-size: 16px;
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  // @include on-desktop {
  //   flex-direction: row;
  //   gap: 24px;
  //   align-items: start;
  // }
}

.share {
  background-color: $blue;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  color: $white;
  text-align: center;
  border-radius: 24px;

  @include on-desktop {
    width: 353px;
    flex-shrink: 0;
  }

  &__button {
    width: 209px;
    height: 34px;
    line-height: 34px;
    font-weight: 700;
    background-color: $white;
    color: $blue;
    border: none;
    border-radius: 16px;
    cursor: pointer;

    &::after {
      left: 155px;
      top: -20px;
      background-color: rgba($color: $white, $alpha: 0.8);
      opacity: 0.3;
    }

    &:hover {
      &::after {
        color: $black;
        left: 165px;
        top: -30px;
      }
    }
  }
}
