@import '../../styles/styles.scss';

.header {
  background-image: url('../../imgs/about-us/bg.png');
  background-size: cover;
  background-position: center;
  height: 190px;
  padding-top: 26px;
  padding-left: 18px;
  background-color: $blue;
  margin-top: $header-height;

  @include on-tablet {
    background-image: url('../../imgs/about-us/bg-tablet.png');
    background-position: center;
    padding-top: 26px;
    padding-left: 70px;
  }

  @include on-desktop {
    background-image: url('../../imgs/about-us/bg-desktop.png');
    height: 348px;
    padding-top: 32px;
    padding-left: 48px;
  }
}

.max_width {
  @include max-width;
}
