@import '../../styles/styles.scss';

.container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 366px 1fr;
}

.sidebar {
  background-color: $blue;
  color: $white;
  padding-block: 56px;
  padding-inline: 48px;
  grid-column: 1/2;
}
