@import '../../styles/styles.scss';

.container {
  min-width: 1240px;
}

.sidebar {
  background-color: $blue;
  color: $white;
  padding-block: 56px;
  padding-inline: 48px;
  grid-column: 1/2;
  min-height: 100vh;
  box-sizing: border-box;
  position: fixed;
  z-index: 5;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 56px 24px;
  margin-left: 250px;
}
