.item {
  display: block;
  margin-bottom: 24px;

  &__title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  &__links {
    padding-left: 44px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.logo {
  margin-bottom: 56px;
}

.link {
  display: inline-block;
}
