@import '../../../../styles/styles.scss';

.container {
  padding-inline: 34px;
  display: flex;
  flex-direction: column;

  @include gap-btw-blocks;
  @include max-width;

  & > div:first-of-type {
    margin-bottom: 32px;
  }

  @include on-tablet {
    @include page-grid;
    align-items: center;
    padding-inline: 70px;
  }

  @include on-desktop {
    align-items: start;
  }
}

.text {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include on-tablet {
    gap: 16px;
  }

  @include on-desktop {
    grid-column: span 5;
    font-size: 16px;
    padding-top: 3em;
    padding-left: 32px;
  }
}

.img {
  position: relative;
  display: block;
  object-fit: cover;
  object-position: center 15%;
  grid-column: 1 / 4;
  border-radius: 24px;
  height: 314px;
  width: 100%;

  @include on-tablet {
    margin-bottom: 0;
    height: 320px;
    width: 320px;
  }

  @include on-desktop {
    grid-column: 2 / span 5;
    height: 533px;
    width: 558px;
  }
}
